/* Top Bar Styling */
.top-bar {
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding: 24px;
    height: 64px;
    background-color: rgba(32, 33, 36, 0.7); /* Same color as the body but with 70% opacity */
    backdrop-filter: blur(10px); /* Creates a frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    color: #e8eaed;
    font-size: 40px;
    font-weight: 900;
}